button {
    padding: 20px;
    color: whitesmoke;
    font-size: 3rem;
    margin: 80px 5px 80px 5px;
    width: 80px;
    height: auto;
    background-color: #4c705b;
    border: none;
    border-radius: 8px;
}