div {
    display        : flex;
    justify-content: center;
    margin         : 30px 0px 50px 0px;
    height         : 80px;
}

p {
    width           : 60px;
    background-color: transparent;
    border          : none;
    border-radius   : 8px;
    position        : relative;
    text-align      : center;
}

p:after {
    content : "_";
    position: absolute;
    bottom  : -10px;
    right   : 5px;
}