<div class="flex-column pt" [ngSwitch]="sceneCurrentState">

    <app-draw [drawAttemptsLeft]="sceneAttempts"></app-draw>
    <app-word [wordTextToShow]="sceneWordDisplayedNowArray" [wordSecretWord]="sceneSecretWordArray"
        [wordShowSecretWord]="sceneShowSecretWord"></app-word>

    <!-- PARTIDA EN CURSO -->
    <ng-template [ngSwitchCase]="0"> 
        <app-keyboard [keyboardDifficulty]="sceneDifficulty" (keyboardPressedLetter)="scenePressKey($event)"></app-keyboard>
    </ng-template>

    <!-- JUEGO GANADO -->
    <ng-template [ngSwitchCase]="1">
        <h1 class="blue-text fs-3">¡Has ganado!</h1>
    </ng-template>

    <!-- GAME OVER -->
    <ng-template [ngSwitchCase]="2">
        <h1 class="red-text fs-3">Oh oh... fin del juego</h1>
    </ng-template>

    <button class="btn fs-2 mt" (click)="sceneTryAgain()">{{sceneTextButton}}</button>
</div>
